<div>
  <h1 class='display-6 bg-secondary p-5'></h1>
</div>

<div class='p-5'>
  <div class='card text-white bg-dark mb-3'>
    <div class='card-header d-flex justify-content-between'>
      <h2>Edit Post</h2>
    </div>
    <div class='card-body'>
      <form id='create-post'>
        <div class='mb-3'>
          <label for='post-title' class='form-label'>Title</label>
          <input type='input' class='form-control' id='post-title' aria-describedby='emailHelp' value='{{title}}'/>
        </div>
        <div class='mb-3'>
          <label for='content' class='form-label'>Content</label>
          <textarea class="form-control" id="post-content" rows="3">{{content}}</textarea>
        </div>
        <div class="d-grid gap-2">
        <button type='submit' class='btn btn-primary'>Update</button>
        <button type='submit' class='btn btn-primary'>Delete</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class='container d-flex justify-content-center mb-5'>
  <a href='/dashboard/new'>
    <button type='button' class='btn btn-primary btn-lg'>New Post</button>
  </a>
</div>
<script src="/js/edit-post.js"></script>