<div>
  <h1 class='display-6 bg-secondary p-5'>Please Log in</h1>
</div>
<div class='p-5'>
  <div class='card text-white bg-dark mb-3'>
    <div class='card-header d-flex justify-content-between'>
      <h2>Login</h2>
    </div>
    <div class='card-body'>
      <form class='form login-form'>
        <div class='mb-3'>
          <label for='email-login' class='form-label'>Email address</label>
          <input
            type='email'
            class='form-control'
            id='email-login'
            aria-describedby='emailHelp'
          />
          <div id='emailHelp' class='form-text'>We'll never share your email
            with anyone else.</div>
        </div>
        <div class='mb-3'>
          <label for='password-login' class='form-label'>Password</label>
          <input type='password' class='form-control' id='password-login' />
        </div>
        <button type='submit' class='btn btn-primary'>Submit</button>
      </form>
      <div class='container'>
        <a href='/signup' class='m-5 text-center'><h3>Sign Up</h3></a>
      </div>
    </div>
  </div>
</div>
<script src='./js/login.js'></script>